.question_card{
    width: 700px;
    height: 150px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    color: #1C3969; 
    margin-left: 100px;

}
/* form{
    margin-top: 20px;
} */

.p-field{
   
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

label{
    width: 57px;
    height: 19px;
    font-size: 16px;
    font-weight: 400;
    margin-left: 20px;
    color: #2D7ED0;
}

#answer, #question{
    width: 550px;
    height: 30px;
    border: none;
    border-bottom: 1px solid #DEEFFF;
    margin-right: 20px;
    margin-top: 10px;
}

#mandatory{
    width: 18px;
    height: 18px;
}

.p-field-1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.p-field-1 input{
    margin-left: 30px;
}

button{
    width: 170px;
height: 40px;

border-radius: 10px;
background-color: #1C3969;
color: white;
font-size: 16px;
font-weight: 600;
border: none;
margin-right: 30px  ;

}