<div class="navbar">
  <p (click)="switchView('admin')" [ngClass]="{'selected': currentView === 'admin'}">ადმინ.პანელი</p>
  <p (click)="switchView('results')" [ngClass]="{'selected': currentView === 'results'}">გამოგზავნილი / შევსებული კითხვები</p>
</div>

<div class="admin-container">
  <div *ngIf="currentView === 'admin'">
   
    <div class="admin-panel">
      <app-add-question></app-add-question>
      <app-question-card></app-question-card>
    </div>
  </div>

  <div *ngIf="currentView === 'results'">
    
    <app-results></app-results>
  </div>
</div>
