<div class="container">
  <div class="navbar">
    <p>გამოკითხვა</p>
  </div>

  <form [formGroup]="questionForm" (ngSubmit)="onSubmit()">
    <div class="name-input">
      <label for="name_surname">შეიყვანეთ თქვენი სახელი და გვარი</label>
      <input id="name_surname" formControlName="name_surname" type="text">
      <div *ngIf="questionForm.get('name_surname')?.invalid"></div>
    </div>
    <small style="color: red; margin-left: 100px;">გთხოვთ შეიყვანეთ თქვენი სახელი და გვარი</small>

    <div formArrayName="questionAnswers" class="questions-container">
      <div *ngFor="let question of questionAnswersArray.controls; let i = index" [formGroupName]="i" class="question-card">
        <div class="p-field-1">
          <label for="question">კითხვა: {{ questions[i].question }}</label>
        </div>
        <div class="p-field-1">
          <label>პასუხი: </label>
          <input formControlName="answer" type="text">
        </div>
        <div *ngIf="questions[i].mandatory == '1' && question.get('answer')?.invalid" style="text-align: right; margin-right: 10px; color: #FF5757">
          <small>პასუხის გაცემა სავალდებულოა !</small>
        </div>
      </div>
      <div class="button-container">
        <button type="submit" >პასუხების გაგზავნა</button>
      </div>
    </div>

    
  </form>
</div>
