.container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    background-color: white;
  }
  
  .navbar p {
    font-family: FiraGO;
    font-size: 20px;
    font-weight: 600;
    color: #1C3969;
    cursor: pointer;
  }
  
  .name-input {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
    width: 800px;
    margin-left: 100px;
  }
  
  .name-input label {
    font-size: 16px;
    font-weight: 600;
  }
  
  .name-input input {
    width: 397px;
    height: 40px;
    border: 1px solid #2D7ED0;
    border-radius: 10px;
    padding: 5px;
  }
  
  .questions-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-top: 20px;
    margin-left: 100px;
  }
  
  .p-field {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  
  .question-card {
    width: 700px;
    height: 150px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    color: #1C3969;
    margin-right: 100px;
    justify-content: space-around;
  }
  
  .question-card label {
    width: 57px;
    height: 19px;
    font-size: 16px;
    font-weight: 400;
    margin-left: 20px;
    color: #2D7ED0;
    margin-right: 10px;
  }
  
  .question-card input {
    width: 550px;
    height: 40px;
    border: none;
    border-bottom: 1px solid #DEEFFF;
  }
  
  .button-container {
    display: flex;
    justify-content: flex-end; /* Align button to the right */
    margin-top: 100px; /* Add some space above the button */
    margin-right: 200px; 
  }

  button{
    width: 704px;
    height: 50px;
    font-size: 18px;    
    font-weight: 600;
     line-height: 21.6px ; 
     background-color:#1C3969;
     border: none;
     color: white;
     border-radius: 10px;
  }
  