<div class="card">
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" class="registration-form">
    <div class="p-field">
      <label for="username">შეიყვანეთ თქვენი სახელი</label>
      <input id="username" type="text" pInputText formControlName="username" />
    </div>
    <div class="p-field">
      <label for="name">მომხმარებლის სახელი</label>
      <input id="name" type="text" pInputText formControlName="name" />
    </div>
  
    <div class="p-field ">
      <label for="password">პაროლი</label>
     <div class="p-field-button">
      <input id="password" type="password" pInputText formControlName="password" />
      <button label="Register" type="submit" >შესვლა</button>
    </div>
     </div>
      
  </form>
</div>
